<%= render :partial => "application/errors" %>

<div style="margin-bottom: 5px;">
	<%= link_to "back", admin_contest_captions_url(@caption.contest_id) %>
</div>

<%= form_for([:admin, @caption]) do |f| %>
	<table class="data">
		<tr>
			<th>Description</th>
			<td><%= f.text_field :description %></td>
		</tr>	
		<tr>
			<th>Active</th>
			<td><%= f.check_box :active %></td>
		</tr>
		<tr>
			<th>Created</th>
			<td><%= @caption.created_at %></td>
		</tr>	
		<tr>
			<th>Vote Count</th>
			<td><%= f.text_field :vote_count %></td>
		</tr>	
		<tr>
			<th>Created By</th>
			<td><%= @caption.user.email %></td>
		</tr>	
	</table>
	<div style="margin-top: 10px;">
		<%= f.submit %>
	</div>
<% end %>