<h1>Captions</h1>

<%= render :partial => "application/errors" %>

<div style="margin-bottom: 5px;"><%= link_to "Back to contests", admin_contests_url %></div>

<table class="data" style="margin-top: 10px; margin-bottom: 10px; width: 100%;">
	<% if @captions.length > 0 %>
	<tr>
		<th style="width: 300px;">Description</th>
		<th>User</th>
		<th>Valid Votes</th>
		<th>Invalid Votes</th>
		<th>Active</th>
		<th>Created</th>
		<th>&nbsp;</th>
	</tr>
	<% for c in @captions %>
	<tr>
		<td><%= link_to h(c.description), edit_admin_caption_url(c) %></td>
		<td><%= c.user.email %></td>
		<td><%= c.vote_count %></td>
		<td><%= c.invalid_vote_count %></td>
		<td><%= c.active %></td>
		<td><%= c.created_at.strftime("%b %d %I:%M %p") %></td>
		<td><%= link_to "votes", admin_caption_votes_url(c) %></td>
	</tr>		
	<% end %>	
	<% else %>
		<tr><td>No captions for this contest yet</td></tr>
	<% end %>
</table>