<%= render :partial => "application/errors" %>

<div><%= link_to "back", admin_contests_url %></div>

<%= form_for([:admin, @contest]) do |f| %>
	<table class="data">
		<tr>
			<th>Image Url</th>
			<td><%= f.text_field :image_url %></td>
		</tr>
		<tr>
			<th>Prize Name</th>
			<td><%= f.text_field :prize_name %></td>
		</tr>
		<tr>
			<th>Prize Url</th>
			<td><%= f.text_field :prize_url %></td>
		</tr>
		<tr>
			<th>Prize Price</th>
			<td><%= f.text_field :prize_price %></td>
		</tr>		
		<tr>
			<th>Start Time</th>
			<td><%= f.text_field :start_time %></td>
		</tr>	
		<tr>
			<th>End Time</th>
			<td><%= f.text_field :end_time %></td>
		</tr>	
		<tr>
			<th>Active</th>
			<td><%= f.check_box :active %>
		</tr>
	</table>
	<div style="margin-top: 10px;">
		<%= f.submit %>
	</div>
<% end %>