<h1 id="page_header">Change Password</h1>

<%= render :partial => "application/errors" %>		

<%= form_tag change_password_url, {:id => "change_password_form"} do -%>

<div class="form_field">
	<div class="title"><%= label_tag 'password' %></div>
	<%= password_field_tag "password", {}, {:id => "password"} %>
</div>

<div class="form_field">
	<div class="title"><%= label_tag 'Password confirm' %></div>
	<%= password_field_tag "confirm_password", {}, {:id => "confirm_password"} %>
</div>

<%= render :partial => "users/submit" %>

<% end %>