<div id="page_header">Product Price Changes</div>

<div>
	<%= link_to "Back to product", admin_product_url(params[:id]) %>
	| <%= link_to "Back to products", admin_products_url %>
</div>

<div id="form" style="margin-bottom: 20px; margin-top: 10px;">
	<form action="">
		Start: <input type="text" name="start_date" value="<%= @start_date.to_date %>"/>
		End: <input type="text" name="end_date" value="<%= @end_date.to_date %>"/>
		 <input type="submit" value="filter"/>
	</form>
</div>

<table class="data" width="100%">
<% if @prices.length > 0 %>
	<tr>
		<th>Product</th>
		<th>Price</th>
		<th>Date</th>
	</tr>
	<% @prices.each do |pp| %>
	<tr>
		<td><%= pp.product.product_name %></td>
		<td><%= number_to_currency pp.price %></td>
		<td><%= pp.created_at %></td>
	</tr>
	<% end %>
<% else %>
	<tr class="center"><td>No data</td></tr>
<% end %>
</table>

<%= will_paginate @prices %>