<div id="page_header">Product Price Changes</div>

<div id="form" style="margin-bottom: 20px;">
	<form action="">
		Start: <input type="text" name="start_date" value="<%= @start_date.to_date %>"/>
		End: <input type="text" name="end_date" value="<%= @end_date.to_date %>"/>
		<input type="checkbox" name="sale_eq_previous" <% if params[:sale_eq_previous] %>checked="true"<% end %> /> Sale == Previous</br>		 
		<input type="checkbox" name="retail_eq_sale" <% if params[:retail_eq_sale] %>checked="true"<% end %> /> Retail == Sale</br>		 
		 <input type="submit" value="filter"/>
	</form>
</div>

<div style="margin-bottom: 5px;"><%= link_to "Back to products", admin_products_url %></div>

<%= page_entries_info @pp %>
<%= will_paginate @pp %>

<table class="data" width="100%">
<% if @pp.length > 0 %>
	<tr>
		<th width="350px">Product</th>
		<th class="center">Retail</th>
		<th class="center">Sale</th>
		<th class="center">Discount</th>
		<th class="center">Previous Sale</th>
	</tr>
	<% for product in @pp %>
	<tr>
		<td><%=  link_to truncate(product.product_name, :length => 40), admin_product_url(product) %></td>
		<td class="center"><%= number_to_currency product.retail_price %></td>
		<td class="center"><%= number_to_currency product.sale_price %></td>
		<td class="center"><%= number_to_currency (product.retail_price - product.sale_price) %></td>
		<td class="center"><%= number_to_currency product.previous_sale_price %></td>
	</tr>
	<% end %>
<% else %>
	<tr class="center"><td>No data found</td></tr>
<% end %>
</table>

<%= will_paginate @pp %>