<h1 id="page_title">Gear Burger Site Map</h1>

<ul id="base_urls">	
  <li><%= link_to "Home", root_url %></li>
  <li><%= link_to "Lost Password", lost_password_url %></li>
  <li><%= link_to "Login", login_url %></li>
  <li><%= link_to "About Gear Burger", about_url %></li>
  <li><%= link_to "Frequently Asked Questions", faq_url %></li>
  <li><%= link_to "Friends", friends_url %></li>
  <li><a href="http://menu.gearburger.com">Blog</a></li>
</ul>