<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Gear Burger tracks the products
      you want from the brands you like and sends you an e-mail when they go on sale."/>
    <meta name="keywords" content="gear, Gear Burger, GearBurger, snowboard, ski, mountain climbing"/>
    <title>Gear Burger</title>

    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag 'buttons.css', :media => 'screen, projection' %>

    <%= yield(:head) %>
    <link rel="icon" type="image/gif" href="/images/favicon.ico" />

    <% if Rails.env.to_s == "production" %>
    <%# Below is a meta tag for google webmaster tools %>
    <meta name="verify-v1" content="A9F4pfAOr8kT49hLj6MPFSpL/72el9mUPcQ5PExAkAY=" />
    <meta name="verify-v1" content="WRx36qPy368jWSIfCT71IjSWzMpFK4KnuRimXk7HsuY=" />
    <% end %>
  </head>

  <body id="<%= controller.controller_name %>_<%= controller.action_name %>">

    <div id="root">
      <div id="header">
        <div id="header_content">
          <div id="logo">
              <%= image_tag('gearburger_horz_white.png', :class => 'logo_image') %>
          </div>
          <div id="right_nav">
            <div class="nav_section nav_button"></div>
            <div class="nav_section nav_button"></div>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div id="tabs"></div>
      <div id="content"><%= yield %></div>
      <div id="root_footer"></div>
    </div>

    <div id="footer">
      <ul id="menu">
        <li class="nav_border">
          <div class="title">Gear Burger</div>
          <div class="social_network_container">
            <img src="/images/twitter.png" alt="Follow us on Twitter"/>
             <%= link_to "Follow us on Twitter", "http://twitter.com/gearburger" %>
          </div>
          <div class="social_network_container">
            <img src="/images/facebook.png" alt="Become a fan on Facebook"/>
             <%= link_to "Become a fan on Facebook", "http://www.facebook.com/pages/Gear-Burger/127166921453" %>
          </div>
        </li>
      </ul>
    </div>

    <%# Ignore google analytics except for production %>
    <% if Rails.env.to_s == "production" %>
    <!-- Google Code for Gear Burger Remarketing List -->
    <script type="text/javascript">
     /* <![CDATA[ */
     var google_conversion_id = 1066903625;
     var google_conversion_language = "en";
     var google_conversion_format = "3";
     var google_conversion_color = "666666";
     var google_conversion_label = "jnfbCK-O6QEQydDe_AM";
     var google_conversion_value = 0;
     /* ]]> */
     </script>
     <script type="text/javascript"
     src="http://www.googleadservices.com/pagead/conversion.js">
     </script>
     <noscript>
     <div style="display:inline;">
     <img height="1" width="1" style="border-style:none;" alt=""
     src="http://www.googleadservices.com/pagead/conversion/1066903625/?label
     =jnfbCK-O6QEQydDe_AM&amp;guid=ON&amp;script=0"/>
     </div>
     </noscript>

    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>

    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-9179162-1"); pageTracker._trackPageview();
      } catch(err) {}
    </script>
    <% end %>

    <%= yield(:body_scripts) %>
  </body>
</html>